<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Betty Smith</title>
    <link rel="stylesheet" href="/src/css/animate.min.css">
    <!-- <link rel="stylesheet" href="/src/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/src/css/swiper.min.css">
    <link rel="stylesheet" href="/src/css/common.css">
    <link rel="stylesheet" href="/src/css/index.css">
  
    <script src="/src/js/rem.js"></script>

    <script src="/src/js/jquery.min.js"></script>
    <script src="/src/js/jquery.textillate.js"></script>
    <script src="/src/js/wow.min.js"></script>
    <script src="/src/js/gsap.min.js"></script>
    <script src="/src/js/ScrollTrigger.min.js"></script>
    <script src="/src/js/three.min.js"></script>
    <script src="/src/js/swiper.min.js"></script>
    <script src="/src/js/layer/layer.js"></script>
    <script src="/src/js/jaliswall.js"></script>
</head>

<body class="body">
    <header id="header" class="header-section  otherPage"></header>

    <div class="page-content w1920">
        <div class="journal-page main">
            <div class="page-title">
                <h2>JOURNAL</h2>
            </div>
            <ul class="journal-list">
                <li class="wow fadeInUp1 journal-item" >
                    <a href="/views/journal/info.html">
                        <div class="img">
                            <img src="/src/images/journal1.jpg" alt="" >
                        </div>
                        <h3>COTTON T-SHIRT W/MOMO PRINTING</h3>
                        <div class="time"> 25 February 2023</div>
                    </a>
                </li>
                <li class="wow fadeInUp1 journal-item" data-wow-delay="0.1s">
                    <a href="/views/journal/info.html">
                        <div class="img">
                            <img src="/src/images/3.jpg" alt="" >
                        </div>
                        <h3>One day spent happily with tokyobike bicycles</h3>
                         <p>10 JUNE 2023</p>
                    </a>
                </li>
                <li class="wow fadeInUp1 journal-item" data-wow-delay="0.1s">
                    <a href="/views/journal/info.html">
                        <div class="img">
                            <img src="/src/images/2.jpg" alt="" >
                        </div>
                        <h3>One day spent happily with tokyobike bicycles</h3>
                         <p>10 JUNE 2023</p>
                    </a>
                </li>
                <li class="wow fadeInUp1 journal-item" data-wow-delay="0.1s">
                    <a href="/views/journal/info.html">
                        <div class="img">
                            <img src="/src/images/journal3.jpg" alt="" >
                        </div>
                        <h3>COTTON T-SHIRT W/MOMO PRINTING</h3>
                        <div class="time"> 25 February 2023</div>
                    </a>
                </li>
                
                <li class="wow fadeInUp1 journal-item" data-wow-delay="0.1s">
                    <a href="/views/journal/info.html">
                        <div class="img">
                            <img src="/src/images/3.jpg" alt="" >
                        </div>
                        <h3>One day spent happily with tokyobike bicycles</h3>
                         <p>10 JUNE 2023</p>
                    </a>
                </li>
                <li class="wow fadeInUp1 journal-item" data-wow-delay="0.1s">
                    <a href="/views/journal/info.html">
                        <div class="img">
                            <img src="/src/images/journal5.jpg" alt="" >
                        </div>
                        <h3>Something about Okayama</h3>
                        <p>10 JUNE 2023</p>
                    </a>
                </li>
               
                <li class="wow fadeInUp1 journal-item" data-wow-delay="0.1s">
                    <a href="/views/journal/info.html">
                        <div class="img">
                            <img src="/src/images/2.jpg" alt="" >
                        </div>
                        <h3>One day spent happily with tokyobike bicycles</h3>
                         <p>10 JUNE 2023</p>
                    </a>
                </li>
               
                <li class="wow fadeInUp1 journal-item" data-wow-delay="0.1s">
                    <a href="/views/journal/info.html">
                        <div class="img">
                            <img src="/src/images/3.jpg" alt="" >
                        </div>
                        <h3>One day spent happily with tokyobike bicycles</h3>
                         <p>10 JUNE 2023</p>
                    </a>
                </li>
                <li class="wow fadeInUp1 journal-item" data-wow-delay="0.1s">
                    <a href="/views/journal/info.html">
                        <div class="img">
                            <img src="/src/images/journal5.jpg" alt="" >
                        </div>
                        <h3>Something about Okayama</h3>
                        <p>10 JUNE 2023</p>
                    </a>
                </li>
                <li class="wow fadeInUp1 journal-item" data-wow-delay="0.1s">
                    <a href="/views/journal/info.html">
                        <div class="img">
                            <img src="/src/images/2.jpg" alt="" >
                        </div>
                        <h3>One day spent happily with tokyobike bicycles</h3>
                         <p>10 JUNE 2023</p>
                    </a>
                </li>
              
                <li class="wow fadeInUp1 journal-item" data-wow-delay="0.1s">
                    <a href="/views/journal/info.html">
                        <div class="img">
                            <img src="/src/images/journal2.jpg" alt="" >
                        </div>
                        <h3>Something about Okayama</h3>
                        <p>10 JUNE 2023</p>
                    </a>
                </li>
                <li class="wow fadeInUp1 journal-item" data-wow-delay="0.1s">
                    <a href="/views/journal/info.html">
                        <div class="img">
                            <img src="/src/images/journal4.jpg" alt="" >
                        </div>
                        <h3>Something about Okayama</h3>
                        <p>10 JUNE 2023</p>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
    <footer id="footer" class="footer-section  "></footer>
    <script type="text/javascript">
        $(function () {
            var wow = new WOW({
                boxClass: 'wow',
                animateClass: 'animated',
                offset: 50,
                mobile: true,
                live: true
            });

            wow.init();
            Promise.all([
                new Promise(resolve => $('#header').load('/views/public/header.html', resolve)),
                new Promise(resolve => $('#footer').load('/views/public/footer.html', resolve))
            ]).then(() => {
                // 两个文件都加载完成后引入 header.js
                $.getScript('/src/js/public/header.js', function () {
                    console.log('Header.js loaded and executed');
                });
                $.getScript('/src/js/public/footer.js', function () {
                    console.log('Footer.js loaded and executed');
                })
            });
        
			$('.journal-list').jaliswall({ item: '.journal-item' });
	
        })

    </script>
  
</body>

</html>