<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Betty Smith</title>
    <link rel="stylesheet" href="/src/css/animate.min.css">
    <!-- <link rel="stylesheet" href="/src/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/src/css/swiper.min.css">
    <link rel="stylesheet" href="/src/css/common.css">
    <link rel="stylesheet" href="/src/css/index.css">
  
    <script src="/src/js/rem.js"></script>

    <script src="/src/js/jquery.min.js"></script>
    <script src="/src/js/jquery.textillate.js"></script>
    <script src="/src/js/wow.min.js"></script>
    <script src="/src/js/gsap.min.js"></script>
    <script src="/src/js/ScrollTrigger.min.js"></script>
    <script src="/src/js/three.min.js"></script>
    <script src="/src/js/swiper.min.js"></script>
    <script src="/src/js/layer/layer.js"></script>
</head>

<body class="body">
    <header id="header" class="header-section  otherPage"></header>

    <div class="page-content w1920">
        <div class="product-info main">
            <div class="info-section">
                <div class="product-item wow inUp" >
                    <div class="swiper" id="proban">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="image">
                                    <img src="/src/images/2-1.png">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image">
                                    <img src="/src/images/2-1.png">
                                </div>
                            </div>
                            <div class="swiper-slide ">
                                <div class="image">
                                    <img src="/src/images/2-1.png">
                                </div>
                            </div>
                        </div>
                        <!-- 如果需要导航按钮 -->
                        <div class="swiper-button-prev swiper-button-black">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path
                                    d="m24,11.5H1.266l4.617-4.617-.707-.707L.458,10.894c-.61.61-.61,1.604,0,2.215l4.717,4.716.707-.707L1.265,12.5h22.735v-1Z"
                                    fill="#342923" />
                            </svg>
                        </div>
                        <div class="swiper-button-next swiper-button-black">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path
                                    d="m23.542,10.892l-4.717-4.717-.707.707,4.618,4.618H0v1h22.734l-4.617,4.617.707.707,4.718-4.718c.61-.61.61-1.604,0-2.214Z"
                                    fill="#342923" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="info-list">
                    <div class="title wow fadeInUp1" data-wow-delay="0.1s">
                        <h3>BettySmith Men Cotton T-SHIRT</h3>
                        <div class="price">CNY800.00</div>
                    </div>
                    <div class="color-info wow fadeInUp1" data-wow-delay="0.2s">
                        <div class="color">Color : White </div>
                        <div class="size">Size : M / L / XL</div>
                    </div>
                    <div class="editor-info wow fadeInUp1" data-wow-delay="0.3s">
                        <h4>EDITOR'S NOTE</h4>
                        <p class="desc"> BettySmith for MOMO Collection Logo Tee is made in collaboration
                            with the Japan designers, honoring the incredible legacy and career of
                            architect . Crafted from premium 230GSM cotton fabric, BettySmith for
                            MOMO Collection Logo Tee features a co-branded graphic printed on the
                            front. Designed for a regular fit.</p>
                    </div>
                    <div class="detail wow fadeInUp1" data-wow-delay="0.4s">
                        <h4><span>DETAILS</span> </h4>
                        <p class="desc">
                            230 GSM cotton jersey <br>
                            Ribbed crewneck <br>
                            Co-branded logo printed on front <br>
                            Standard fit <br><br>
                            Style: khm030965-101 <br>
                            Color: White <br>
                            Material: 100% Cotton
                        </p>
                    </div>
                    <div class="size-info wow fadeInUp1" data-wow-delay="0.5s">
                        <h4><span>SIZE INFO</span> </h4>
                    </div>

                </div>
            </div>
            <div class="view-more-section">
                <div class="title wow fadeInUp1">
                    <h2>VIEW MORE</h2>
                </div>
                <div class="swiper" id="product">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide wow fadeInUp1" data-wow-delay="0.2s">
                            <a href="/views/product/info.html">
                                <div class="img">
                                    <img src="/src/images/2-1.png" alt="" class="image1">
                                    <img src="/src/images/1.png" alt="" class="image2">
                                </div>
                                <h3>COTTON T-SHIRT W/MOMO PRINTING</h3>
                            </a>
                        </div>
                        <div class="swiper-slide wow fadeInUp1" data-wow-delay="0.3s">
                            <a href="/views/product/info.html">
                                <div class="img">
                                    <img src="/src/images/2-1.png" alt="" class="image1">
                                    <img src="/src/images/1.png" alt="" class="image2">
                                </div>
                                <h3>COTTON T-SHIRT W/MOMO PRINTING</h3>
                            </a>
                        </div>
                        <div class="swiper-slide wow fadeInUp1" data-wow-delay="0.4s">
                            <a href="/views/product/info.html">
                                <div class="img">
                                    <img src="/src/images/2-1.png" alt="" class="image1">
                                    <img src="/src/images/1.png" alt="" class="image2">
                                </div>
                                <h3>COTTON T-SHIRT W/MOMO PRINTING</h3>
                            </a>
                        </div>
                        <div class="swiper-slide wow fadeInUp1" data-wow-delay="0.5s">
                            <a href="/views/product/info.html">
                                <div class="img">
                                    <img src="/src/images/2-1.png" alt="" class="image1">
                                    <img src="/src/images/1.png" alt="" class="image2">
                                </div>
                                <h3>COTTON T-SHIRT W/MOMO PRINTING</h3>
                            </a>
                        </div>
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="footer-section  "></footer>
    <script type="text/javascript">
        $(function () {
            var wow = new WOW({
                boxClass: 'wow',
                animateClass: 'animated',
                offset: 50,
                mobile: true,
                live: true
            });

            wow.init();
            Promise.all([
                new Promise(resolve => $('#header').load('/views/public/header.html', resolve)),
                new Promise(resolve => $('#footer').load('/views/public/footer.html', resolve))
            ]).then(() => {
                // 两个文件都加载完成后引入 header.js
                $.getScript('/src/js/public/header.js', function () {
                    console.log('Header.js loaded and executed');
                });
                $.getScript('/src/js/public/footer.js', function () {
                    console.log('Footer.js loaded and executed');
                })
            });
        })

    </script>
    <script>
        $(function () {
            function mouse(banner, swiper) {
                let ban = banner + " .swiper-slide";
                $(ban).mouseenter(function () {
                    swiper.autoplay.stop();
                })
                // 鼠标移出开始自动滚动
                $(ban).mouseleave(function () {
                    swiper.autoplay.start();
                })
            }
            var mySwiper = new Swiper('#proban', {
                loop: true,
                speed: 1000,
                autoplay: {
                    delay: 100000,
                    stopOnLastSlide: false,
                    disableOnInteraction: false,
                },
                parallax: true,
                // 自定义分页器
                autoplayDisableOnInteraction: false,
                // 如果需要前进后退按钮
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            })
            mouse("#proban", mySwiper);

            var product = new Swiper('#product', {
                slidesPerView: 4,
                spaceBetween: 40,
                breakpointsInverse: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                    type: 'bullets',
                    // type: 'fraction',
                    // type : 'progressbar',
                },
                breakpoints: {
                    //当宽度大于等于320
                    0: {
                        slidesPerView: 2,
                        spaceBetween: 10
                    },
                    //当宽度大于等于480
                    540: {
                        slidesPerView: 3,
                        spaceBetween: 20
                    },
                    //当宽度大于等于640
                    1024: {
                        slidesPerView: 4,
                        spaceBetween: 40
                    }
                }
            })
        })
    </script>
</body>

</html>