<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Betty Smith</title>
    <link rel="stylesheet" href="/src/css/animate.min.css">
    <!-- <link rel="stylesheet" href="/src/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/src/css/swiper.min.css">
    <link rel="stylesheet" href="/src/css/common.css">
    <link rel="stylesheet" href="/src/css/index.css">
    
    <script src="/src/js/rem.js"></script>

    <script src="/src/js/jquery.min.js"></script>
    <script src="/src/js/jquery.lettering.js"></script>
    <script src="/src/js/jquery.textillate.js"></script>
    <script src="/src/js/wow.min.js"></script>
    <script src="/src/js/gsap.min.js"></script>
    <script src="/src/js/ScrollTrigger.min.js"></script>
    <script src="/src/js/three.min.js"></script>
    <script src="/src/js/swiper.min.js"></script>
    <script src="/src/js/layer/layer.js"></script>
</head>

<body class="body">
    <header id="header" class="header-section  otherPage"></header>

    <div class="page-content w1920">
        <div class="about-page main">
            <div class="index1-section">
                <div class="image">
                    <!-- <img class="wow scale2" data-wow-duration="5s" src="/src/images/banner3.jpg" alt=""> -->
                    <video playsinline autoplay loop muted controls>
                        <source src="/src/about.mp4" type="video/mp4">
                    </video>
                    <!-- <div class="title">
                        <h2 class="Betty">Betty Smith®</h2>
                        <p class="Smith">Welcome to the brand new jeans experience!</p>
                    </div> -->
                </div>

            </div>
            <div class="index2-section">
                <p class="desc wow  fadeInUp1">Kojima, the birthplace of the domestically-manufactured jeans in
                    Japan... In 1962, Betty Smith Company was established in Kojima
                    as the first domestic manufacturer of lady´s jeans in Japan.</p>
            </div>
            <div class="index3-section">
                <ul>
                    <li>
                        <img class=" wow  fadeInUp1  " src="/src/images/5.png" alt="">
                    </li>
                    <li>
                        <img class=" wow  fadeInUp1  " src="/src/images/6.png" alt="">
                    </li>
                    <li>
                        <img class=" wow  fadeInUp1  " src="/src/images/7.png" alt="">
                    </li>
                    <li>
                        <img class=" wow  fadeInUp1  " src="/src/images/8.png" alt="">
                    </li>
                </ul>
            </div>
            <div class="index4-section">
                <div class="left wow fadeInLeft1">
                    <img src="/src/images/9.png" alt="">
                </div>
                <div class="right wow fadeInRight1">
                    <h3>The Beginning</h3>
                    <article>“In 1962, my father established a company called Oshima Clothing, he built this
                        factory in the same year. In 1965, BIG JOHN started manufacturing the first blue
                        jeans commercially in Japan. As Betty Smith and BIG JOHN were family partners,
                        we ended up joining forces to produce blue jeans. Around that time, there were only
                        men´s jeans being sold. But they were still selling well. Women would wear men´s
                        jeans and they were fine with it. However, jeans cut for men didn´t really flatter a
                        women´s physique. Then we came up with the idea to specialize in women´s jeans.
                        In 1970, we launched the Betty Smith brand. That´s how we started as the first
                        women´s jeans brand in Japan.”</article>
                    <p>- Quoted from 大島康弘 ( the President of Betty Smith )</p>
                </div>

            </div>
            <div class="index5-section">
                <div class="content wow fadeInUp1">
                    <h3>Betty Smith Jeans Museum & Village</h3>
                    <article>In 2003, “Jeans Museum” as the first jeans museum in Japan was
                        opened. Betty Smith has also been continuously proposing new values
                        to the jeans industry for the past half century while it took an initiative
                        to start manufacturing the world’s first “Fully custom-made jeans” in
                        the same year. The spirit of Betty Smith as always challenging for a new
                        endeavor will not be changed at all from now on.</article>
                    <article>At Betty Smith, it defines “Creating a Japanese jeans culture” as a
                        corporate mission, then we certainly would like to actively create
                        new values for the next half century on a continuous basis.</article>
                </div>
            </div>
            <div class="index9-section">
                <div class="content wow fadeInUp1">
                    <h3>Betty Smith Jeans Museum & Village</h3>
                    <article>In 2003, “Jeans Museum” as the first jeans museum in Japan was
                        opened. Betty Smith has also been continuously proposing new values
                        to the jeans industry for the past half century while it took an initiative
                        to start manufacturing the world’s first “Fully custom-made jeans” in
                        the same year. The spirit of Betty Smith as always challenging for a new
                        endeavor will not be changed at all from now on.</article>
                    <article>At Betty Smith, it defines “Creating a Japanese jeans culture” as a
                        corporate mission, then we certainly would like to actively create
                        new values for the next half century on a continuous basis.</article>
                </div>
            </div>
            <div class="index6-section">
                <ul>
                    <li class="wow fadeInUp1" data-wow-delay="0.1s">
                        <div class="image">
                            <img src="/src/images/12.png" alt="">
                        </div>
                        <div class="info">
                            <h3>Honoring The Tradition</h3>
                            <p>Oldest jeans factory in Japan.
                                Preserved traditional sewing technique</p>
                        </div>
                    </li>
                    <li class="wow fadeInUp1" data-wow-delay="0.2s">
                        <div class="image">
                            <img src="/src/images/13.png" alt="">
                        </div>
                        <div class="info">
                            <h3>Pushing The Fabric Boundaries</h3>
                            <p>Developed a brand of small articles called “Eco Betty”
                                in 2002 by recycling as leftover fabric in factor</p>
                        </div>
                    </li>
                    <li class="wow fadeInUp1" data-wow-delay="0.3s">
                        <div class="image">
                            <img src="/src/images/14.png" alt="">
                        </div>
                        <div class="info">
                            <h3>Honoring The Tradition</h3>
                            <p>Creating the first women fit in Japan.
                                The first “Fully custom-made jeans” project in world</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="index7-section">
                <!-- <div class="content wow fadeInUp1">
                    <h3>Betty Smith In China</h3>
                    <article>Betty Smith in China is authorized to develop the product lines independently. <br>
                        We create the brand new style - <span>A Happy Japanese Classic.</span> <br>
                        In 2021, Shanghai team opened the first brand showroom in China in SIFEC.</article>
                    <h5>Betty Smith in SIFEC </h5>
                    <p>上海市长寿路652号B座</p>
                </div> -->
            </div>
            <div class="index8-section">
                <div class="content wow fadeInUp1">
                    <h3>Betty Smith In China</h3>
                    <article>Betty Smith in China is authorized to develop the product lines independently. <br>
                        We create the brand new style - <span>A Happy Japanese Classic.</span> <br>
                        In 2021, Shanghai team opened the first brand showroom in China in SIFEC.</article>
                    <h5>Betty Smith in SIFEC </h5>
                    <p>上海市长寿路652号B座</p>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="footer-section  "></footer>
    <script type="text/javascript">
        $(function () {
            var wow = new WOW({
                boxClass: 'wow',
                animateClass: 'animated',
                offset: 50,
                mobile: true,
                live: true
            });

            wow.init();
            // $('.Betty').textillate({ in: { effect: 'fadeInUp' } });
            // $('.Smith').textillate({ initialDelay: 500, in: { effect: 'flipInX', delay: 30, } });
            Promise.all([
                new Promise(resolve => $('#header').load('/views/public/header.html', resolve)),
                new Promise(resolve => $('#footer').load('/views/public/footer.html', resolve))
            ]).then(() => {
                // 两个文件都加载完成后引入 header.js
                $.getScript('/src/js/public/header.js', function () {
                    console.log('Header.js loaded and executed');
                });
                $.getScript('/src/js/public/footer.js', function () {
                    console.log('Footer.js loaded and executed');
                })
            });
        })

    </script>

</body>

</html>