<nav class="web-nav main">
    <div class="nav-logo">
        <h1>
            <a href="/index.html">
                <img src="/src/images/logo.png" title=" Betty Smith" alt=" Betty Smith">
                Betty Smith</a>
        </h1>
    </div>

    <ul class="nav-list ">
        <li class="lia lia1">
            <a href="/views/product/index.html">PRODUCTS <span>›</span> </a>

        </li>
        <li class="lia lia2">
            <a href="/views/collection/index.html">COLLECTION <span>›</span></a>


        </li>
        <li class="lia lia3">
            <a href="/views/news/index.html">NEWS <span>›</span></a>

        </li>
        <li class="li">
            <a href="/views/about/index.html">ABOUT</a>
        </li>
        <li class="lia lia4">
            <a href="/views/journal/index.html">JOURNAL <span>›</span></a>
        </li>
    </ul>
    <div class="pc-search-box">
        <div class="left">
            <input type="text" placeholder="SEARCH">
            <div class="search">
                <svg t="1687332844224" class="icon" viewBox="0 0 1024 1024" version="1.1"
                    xmlns="http://www.w3.org/2000/svg" fill="#fff" p-id="2385" width="24" height="24">
                    <path
                        d="M936.07924064 843.92205756l-182.23171789-182.23171784c41.91329511-55.97117051 64.56209435-123.91756816 64.56209433-194.72760714 0-179.62840764-146.30603635-325.93444399-325.934444-325.93444401s-325.93444399 146.30603635-325.934444 325.93444401 146.30603635 325.93444399 325.934444 325.934444c77.05798358 0 149.43000865-26.29343356 207.48382738-74.45467334l180.66973171 180.66973176 55.45050847-55.19017744zM492.47517308 728.07475119c-143.96305712 0-260.85168762-117.14896149-260.85168761-260.85168757s117.14896149-260.85168762 260.85168761-260.85168763c143.96305712 0 260.85168762 117.14896149 260.85168759 260.85168763 0 67.42573564-25.51244051 131.20683689-71.85136302 179.88873864-49.72322588 52.06620511-116.88863049 80.96294896-189.00032457 80.96294893z"
                         p-id="2386"></path>
                </svg>
            </div>
        </div>
        <div class="lang-box">
            <div class="lang">
                <div class="select">Language</div>
                <span>简体中文</span>
                <span>ENGLISH</span>
            </div>
        </div>
    </div>
 
</nav>
<nav class="m-web-nav main">

    <div class="nav-btn">
        <a href="javascript:;" class="menu">
            <span></span><span></span><span></span>
        </a>
    </div>

    <div class="nav-logo">
        <h1>
            <a href="/index.html">
                <img src="/src/images/logo.png" title=" Betty Smith" alt=" Betty Smith">
                Betty Smith</a>
        </h1>
    </div>


    <div class="search-open">
        <svg t="1687332844224" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
            p-id="2385" width="28" height="28">
            <path
                d="M936.07924064 843.92205756l-182.23171789-182.23171784c41.91329511-55.97117051 64.56209435-123.91756816 64.56209433-194.72760714 0-179.62840764-146.30603635-325.93444399-325.934444-325.93444401s-325.93444399 146.30603635-325.934444 325.93444401 146.30603635 325.93444399 325.934444 325.934444c77.05798358 0 149.43000865-26.29343356 207.48382738-74.45467334l180.66973171 180.66973176 55.45050847-55.19017744zM492.47517308 728.07475119c-143.96305712 0-260.85168762-117.14896149-260.85168761-260.85168757s117.14896149-260.85168762 260.85168761-260.85168763c143.96305712 0 260.85168762 117.14896149 260.85168759 260.85168763 0 67.42573564-25.51244051 131.20683689-71.85136302 179.88873864-49.72322588 52.06620511-116.88863049 80.96294896-189.00032457 80.96294893z"
                p-id="2386"></path>
        </svg>
    </div>
</nav>
<div class="erji-nav-section ">
    <div class="main">
        <div class="erji-nav erji-nav1">
            <ul class="erji-list product-category">
                <li><a href="/views/product/index.html">New Arrivals</a></li>
                <li><a href="/views/product/index.html">Shop All</a></li>
                <li> <a href="/views/product/index.html">Tops</a></li>
                <li><a href="/views/product/index.html">Bottoms</a></li>
                <li> <a href="/views/product/index.html">New Arrivals</a></li>
                <li> <a href="/views/product/index.html">Outwear</a></li>
                <li><a href="/views/product/index.html">Active</a></li>
                <li> <a href="/views/product/index.html">Lifestyle</a> </li>
                <li> <a href="/views/product/index.html">Accessories</a></li>

            </ul>
        </div>
        <div class="erji-nav erji-nav2">
            <ul class="erji-list collection-category">
                <li>
                    <a href="/views/collection/index.html">
                        <div class="img">
                            <img src="/src/images/collection.jpg" alt="">
                        </div>
                        <h3 class="tet">MOMO COLLECTION | 2023 S/S</h3>
                    </a>
                </li>
                <li>
                    <a href="/views/collection/index.html">
                        <div class="img">
                            <img src="/src/images/collection.jpg" alt="">
                        </div>
                        <h3 class="tet">MOMO COLLECTION | 2023 S/S</h3>
                    </a>
                </li>
                <li>
                    <a href="/views/collection/index.html">
                        <div class="img">
                            <img src="/src/images/collection.jpg" alt="">
                        </div>
                        <h3 class="tet">MOMO COLLECTION | 2023 S/S</h3>
                    </a>
                </li>
            </ul>

        </div>
        <div class="erji-nav erji-nav3">
            <ul class="erji-list new-list">
                <li>
                    <a href="/views/news/info.html">
                        <h3 class="tet">CLASSIC Collection</h3>
                        <p class="desc">
                            We have worked with Japan
                            Designer to create a collection
                            inspired by the old story happened
                            in Okayama called Momotaro and
                            his friends. The collection includes
                            men’s and women’s apparel and
                            accessories, and will release on
                            MOMO Day ,accessories, and will releas
                        </p>
                        <span>view more</span>
                    </a>
                </li>
                <li>
                    <a href="/views/news/info.html">
                        <h3 class="tet">CLASSIC Collection</h3>
                        <p class="desc">
                            We have worked with Japan
                            Designer to create a collection
                            inspired by the old story happened
                            in Okayama called Momotaro and
                            his friends. The collection includes
                            men’s and women’s apparel and
                            accessories, and will release on
                            MOMO Dayand will release on will
                        </p>
                        <span>view more</span>
                    </a>
                </li>
                <li>
                    <a href="/views/news/info.html">
                        <h3 class="tet">CLASSIC Collection</h3>
                        <p class="desc">
                            We have worked with Japan
                            Designer to create a collection
                            inspired by the old story happened
                            in Okayama called Momotaro and
                            his friends. The collection includes
                            men’s and women’s apparel and
                            accessories, and will release on
                            MOMO Day,and will release on will
                        </p>
                        <span>view more</span>
                    </a>
                </li>
                <li>
                    <a href="/views/news/index.html">
                        <h3>View All News Posts</h3>
                        <span>view all</span>
                    </a>
                </li>
            </ul>

        </div>
        <div class="erji-nav erji-nav4">
            <ul class="erji-list journal-list">
                <li>
                    <a href="/views/journal/info.html">
                        <div class="img">
                            <img src="/src/images/journal1.jpg" alt="">
                        </div>
                        <h3 class="tet">One day spent happily with tokyobike bicycles</h3>
                        <span>view more</span>
                    </a>
                </li>
                <li>
                    <a href="/views/journal/info.html">
                        <div class="img">
                            <img src="/src/images/journal2.jpg" alt="">
                        </div>
                        <h3 class="tet">Something about Okayama</h3>
                        <span>view more</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>

</div>
<div class="search-section">
    <div class="search-box main">
        <div class="left">
            <input type="text" placeholder="SEARCH">
            <div class="search">
                <svg t="1687332844224" class="icon" viewBox="0 0 1024 1024" version="1.1"
                    xmlns="http://www.w3.org/2000/svg" p-id="2385" width="24" height="24">
                    <path
                        d="M936.07924064 843.92205756l-182.23171789-182.23171784c41.91329511-55.97117051 64.56209435-123.91756816 64.56209433-194.72760714 0-179.62840764-146.30603635-325.93444399-325.934444-325.93444401s-325.93444399 146.30603635-325.934444 325.93444401 146.30603635 325.93444399 325.934444 325.934444c77.05798358 0 149.43000865-26.29343356 207.48382738-74.45467334l180.66973171 180.66973176 55.45050847-55.19017744zM492.47517308 728.07475119c-143.96305712 0-260.85168762-117.14896149-260.85168761-260.85168757s117.14896149-260.85168762 260.85168761-260.85168763c143.96305712 0 260.85168762 117.14896149 260.85168759 260.85168763 0 67.42573564-25.51244051 131.20683689-71.85136302 179.88873864-49.72322588 52.06620511-116.88863049 80.96294896-189.00032457 80.96294893z"
                        fill="#9a9a9a" p-id="2386"></path>
                </svg>
            </div>
        </div>
        <div class="lang-box">
            <div class="lang">
                <div class="select">Language</div>
                <span>简体中文</span>
                <span>ENGLISH</span>
            </div>
        </div>
        <div class="search-close">
            <svg t="1687677274790" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
                p-id="3554" width="32" height="32">
                <path
                    d="M550.848 502.496l308.64-308.896a31.968 31.968 0 1 0-45.248-45.248l-308.608 308.896-308.64-308.928a31.968 31.968 0 1 0-45.248 45.248l308.64 308.896-308.64 308.896a31.968 31.968 0 1 0 45.248 45.248l308.64-308.896 308.608 308.896a31.968 31.968 0 1 0 45.248-45.248l-308.64-308.864z"
                    p-id="3555" fill="#9a9a9a"></path>
            </svg>
        </div>

    </div>
</div>
<div class="m-menu-section">
    <div class="menu-list ">
        <ul class="nav-list main">
            <li>
                <a class="lia " href="javascript:void(0);">PRODUCTS <span>›</span> </a>
                <ul class="erji-list product-category">
                    <li><a href="/views/product/index.html">New Arrivals</a></li>
                    <li><a href="/views/product/index.html">Shop All</a></li>
                    <li> <a href="/views/product/index.html">Tops</a></li>
                    <li><a href="/views/product/index.html">Bottoms</a></li>
                    <li> <a href="/views/product/index.html">New Arrivals</a></li>
                    <li> <a href="/views/product/index.html">Outwear</a></li>
                    <li><a href="/views/product/index.html">Active</a></li>
                    <li> <a href="/views/product/index.html">Lifestyle</a> </li>
                    <li> <a href="/views/product/index.html">Accessories</a></li>
                    <li> <a href="/views/product/index.html">All Product</a></li>

                </ul>
            </li>
            <li>
                <a class="lia " href="javascript:void(0);">COLLECTION <span>›</span></a>
                <ul class="erji-list collection-category">
                    <li>
                        <a href="/views/collection/index.html">
                            <div class="img">
                                <img src="/src/images/collection.jpg" alt="">
                            </div>
                            <h3 class="tet">MOMO COLLECTION | 2023 S/S</h3>
                        </a>
                    </li>
                    <li>
                        <a href="/views/collection/index.html">
                            <div class="img">
                                <img src="/src/images/collection.jpg" alt="">
                            </div>
                            <h3 class="tet">MOMO COLLECTION | 2023 S/S</h3>
                        </a>
                    </li>
                    <li>
                        <a href="/views/collection/index.html">
                            <div class="img">
                                <img src="/src/images/collection.jpg" alt="">
                            </div>
                            <h3 class="tet">MOMO COLLECTION | 2023 S/S</h3>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="lia " href="javascript:void(0);">NEWS <span>›</span></a>
                <ul class="erji-list new-list">
                    <li>
                        <a href="/views/news/info.html">
                            <h3 class="tet">CLASSIC Collection</h3>
                            <p class="desc">
                                We have worked with Japan
                                Designer to create a collection
                                inspired by the old story happened
                                in Okayama called Momotaro and
                                his friends. The collection includes
                                men’s and women’s apparel and
                                accessories, and will release on
                                MOMO Day ,accessories, and will releas
                            </p>
                            <span>view more</span>
                        </a>
                    </li>
                    <li>
                        <a href="/views/news/info.html">
                            <h3 class="tet">CLASSIC Collection</h3>
                            <p class="desc">
                                We have worked with Japan
                                Designer to create a collection
                                inspired by the old story happened
                                in Okayama called Momotaro and
                                his friends. The collection includes
                                men’s and women’s apparel and
                                accessories, and will release on
                                MOMO Dayand will release on will
                            </p>
                            <span>view more</span>
                        </a>
                    </li>
                    <li>
                        <a href="/views/news/info.html">
                            <h3 class="tet">CLASSIC Collection</h3>
                            <p class="desc">
                                We have worked with Japan
                                Designer to create a collection
                                inspired by the old story happened
                                in Okayama called Momotaro and
                                his friends. The collection includes
                                men’s and women’s apparel and
                                accessories, and will release on
                                MOMO Day,and will release on will
                            </p>
                            <span>view more</span>
                        </a>
                    </li>
                    <li>
                        <a href="/views/news/index.html">
                            <h3>View All News Posts</h3>
                            <span>view all</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="lia" href="/views/about/index.html">ABOUT</a>
            </li>
            <li>
                <a class="lia " href="javascript:void(0);">JOURNAL <span>›</span></a>
                <ul class="erji-list journal-list">
                    <li>
                        <a href="/views/journal/info.html">
                            <div class="img">
                                <img src="/src/images/journal1.jpg" alt="">
                            </div>
                            <h3 class="tet">One day spent happily with tokyobike bicycles</h3>
                            <span>view more</span>
                        </a>
                    </li>
                    <li>
                        <a href="/views/journal/info.html">
                            <div class="img">
                                <img src="/src/images/journal2.jpg" alt="">
                            </div>
                            <h3 class="tet">Something about Okayama</h3>
                            <span>view more</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>



