<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Betty Smith</title>
    <link rel="stylesheet" href="/src/css/animate.min.css">
    <!-- <link rel="stylesheet" href="/src/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/src/css/swiper.min.css">
    <link rel="stylesheet" href="/src/css/common.css">
    <link rel="stylesheet" href="/src/css/index.css">
  
    <script src="/src/js/rem.js"></script>

    <script src="/src/js/jquery.min.js"></script>
    <script src="/src/js/jquery.lettering.js"></script>
    <script src="/src/js/jquery.textillate.js"></script>
    <script src="/src/js/wow.min.js"></script>
    <script src="/src/js/gsap.min.js"></script>
    <script src="/src/js/ScrollTrigger.min.js"></script>
    <!-- <script src="/src/js/three.min.js"></script> -->
    <script src="/src/js/swiper.min.js"></script>
    <script src="/src/js/layer/layer.js"></script>
</head>

<body class="body">
    <header id="header" class="header-section  "></header>
    <div class="load-section">
        <div class="content">
            <div class="image-group  image-group-one">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
            </div>
            <div class="image-group  image-group-two">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
            </div>
            <div class="image-group   image-group-one">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
            </div>
            <div class="image-group  image-group-two">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
            </div>
            <div class="image-group   image-group-one">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
            </div>
            <div class="image-group  image-group-two">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
            </div>
            <div class="image-group   image-group-one">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
            </div>
            <div class="image-group  image-group-two">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
            </div>
            <div class="image-group   image-group-one">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
            </div>
            <div class="image-group  image-group-two">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
            </div>
            <div class="image-group   image-group-one">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
            </div>
            <div class="image-group  image-group-two">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
            </div>
            <div class="image-group   image-group-one">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
                <img src="/src/images/collection/o1.png" alt="o">
                <img src="/src/images/collection/m1.png" alt="m">
            </div>
        </div>
      
    </div>
    <div class="page-content w1920" style="padding: 0;">
        <div class="collection-page ">
            <div class="fixed-bg">
                <div class="content wow fadeInUp" data-wow-delay="3s">
                    <h1>MOMO</h1>
                    <h2>COLLECTION | 2023 S/S</h2>
                    <p>okayama kamakura shanghai</p>
                </div>
            </div>
            <div class="index-section">
                <div class="momo-section">
                    <div class="momo-group1">
                        <img src="/src/images/collection/m.png" alt="m">
                        <img src="/src/images/collection/o.png" alt="o">
                        <img src="/src/images/collection/m.png" alt="m">
                        <img src="/src/images/collection/o.png" alt="o">
                        <img src="/src/images/collection/m.png" alt="m">
                        <img src="/src/images/collection/o.png" alt="o">
                        <img src="/src/images/collection/m.png" alt="m">
                        <img src="/src/images/collection/o.png" alt="o">
                    </div>
                    <div class="momo-group2">
                        <img src="/src/images/collection/1-2.jpg" class="img1" alt="images">
                        <img src="/src/images/collection/m.png" alt="m">
                        <img src="/src/images/collection/o.png" alt="o">
                        <img src="/src/images/collection/m.png" alt="m">
                        <img src="/src/images/collection/o.png" alt="o">
                        <img src="/src/images/collection/m.png" alt="m">
                        <img src="/src/images/collection/o.png" alt="o">
                        <img src="/src/images/collection/m.png" alt="m">
                        <img src="/src/images/collection/o.png" alt="o">
                    </div>
                    <div class="momo-group3">
                        <img src="/src/images/collection/line.png" alt="line">
                        <img src="/src/images/collection/tit1.png" alt="tit">
                    </div>
                    <div class="momo-group4">
                        <img src="/src/images/collection/1-1.jpg" class="img1" alt="images">
                        <img src="/src/images/collection/m.png" alt="m">
                        <img src="/src/images/collection/o.png" alt="o">
                        <img src="/src/images/collection/m.png" alt="m">
                        <img src="/src/images/collection/o.png" alt="o">
                        <img src="/src/images/collection/m.png" alt="m">
                        <img src="/src/images/collection/o.png" alt="o">
                        <img src="/src/images/collection/m.png" alt="m">
                        <img src="/src/images/collection/o.png" alt="o">
                        <img src="/src/images/collection/logo1.png" alt="logo">
                        <div class="imgae wow ">
                            <img src="/src/images/1-5.jpg" class="img1" alt="images">
                            <!-- <img src="/src/images/collection/tit.png" class="img2" alt=""> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="index2-section">
                <div class="image-group1 ">
                    <img src="/src/images/collection/1-7.jpg" alt="">
                </div>
                <div class="image-group2">
                    <img src="/src/images/collection/1-8.jpg">
                    <img src="/src/images/collection/2-5.jpg" alt="" class="img2">
                    <img src="/src/images/collection/1-9.jpg" alt="">
                </div>
            </div>

            <div class="index3-section">
                <div class="image-section image-section3">
                    <div class="image-group1">
                        <img src="/src/images/collection/2-8.jpg" class="img2" alt="">
                        <img src="/src/images/collection/1-4.jpg" class="img1" alt="">
                    </div>
                    <div class="image-group2">
                        <img src="/src/images/collection/2-6.jpg" alt="">
                    </div>
                </div>

            </div>
            <div class="index4-section">
                <div class="image-section image-section4">
                    <div class="image-group">
                        <img src="/src/images/collection/3-1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="m-collection-page">
            <div class="fixed-bg">
                <div class="content wow fadeInUp" data-wow-delay="3s">
                    <h1>MOMO</h1>
                    <h2>COLLECTION | 2023 S/S</h2>
                    <p>okayama kamakura shanghai</p>
                </div>
            </div>
            <img src="/src/images/collection/1.jpg" alt="">
            <img src="/src/images/collection/2.jpg" alt="">
            <img src="/src/images/collection/3.jpg" alt="">
            <img src="/src/images/collection/4.jpg" alt="">
            <img src="/src/images/collection/5.jpg" alt="">
            <img src="/src/images/collection/6.jpg" alt="">
            <img src="/src/images/collection/7.jpg" alt="">
            <img src="/src/images/collection/8.jpg" alt="">
        </div>
    </div>

    <footer id="footer" class="footer-section  "></footer>
    <script type="text/javascript">
        $(function () {
            var wow = new WOW({
                boxClass: 'wow',
                animateClass: 'animated',
                offset: 50,
                mobile: true,
                live: true
            });

            wow.init();

            Promise.all([
                new Promise(resolve => $('#header').load('/views/public/header.html', resolve)),
                new Promise(resolve => $('#footer').load('/views/public/footer.html', resolve))
            ]).then(() => {
                // 两个文件都加载完成后引入 header.js
                $.getScript('/src/js/public/header.js', function () {
                    console.log('Header.js loaded and executed');
                });
                $.getScript('/src/js/public/footer.js', function () {
                    console.log('Footer.js loaded and executed');
                })
            });
        })


    </script>
    <script>
        $(function () {
            $('.body').css({ "overflow": 'hidden' })
            // console.log($(window).scrollTop(), 123)
            $('.load-section .image-group-one').addClass('imgInLeft')
            $('.load-section .image-group-two').addClass('imgInRight')

            setTimeout(function () {
                $('.load-section').stop().animate({ 'top': '120%' }, 500)
                $('.load-section').css({ "z-index": '-1', "opacity": 0 })
                $('.load-section .image-group img').animate({ "opacity": 0 }, 1000)
                $('.body').css({ "overflow": 'auto' })
            }, 2000)

            // $(window).scroll(function (e) {
            //     parallax(100);
            // })

            gsap.registerPlugin(ScrollTrigger);

            $(".momo-group4").css({ 'top': -(document.querySelector(".momo-group4").clientHeight * 0.85) + 'px' })
            var widHeight = $(window).height()
            var momoH = $(".momo-group1").height()
            var momoTop = $(".momo-section").offset().top
            var momogroup2Top = $(".momo-group2").offset().top
            var momogroup4Top = $(".momo-group4").offset().top
            
      


            var isScroll = true
            gsap.to(" .momo-section", {
                scrollTrigger: {
                    trigger: " .momo-section",
                    delay: 1,
                    start: "top top", // 当元素顶部部，滚动到达视口中间时, 开始动画
                    // end 默认是 trigger 离开视口
                    end: "+2900", // 当section-2底部，到达可视区域bottom 500px时，结束动画
                    // toggleClass: "active",
                    scrub: true, // 表示动画可以重复执行改成false表示只执行一次
                    markers: false, // 绘制开始位置和结束位置的线条
                    pin: true, // 动画执行期间，页面不进行滚动，动画执行结束后
                    scrub: 1,
                    onEnter() {
                        isScroll = true
                        $(window).scroll(function (e) {
                            if (isScroll) {
                                let group2Top = momogroup2Top - $(this).scrollTop();
                                let group4Top = -((momoTop - momogroup4Top) - ($(this).scrollTop() - momoTop));
                                $('.momo-group2').css({ "top": group2Top + "px" })

                                $('.momo-group4').css({ "top": group4Top + "px" })

                            }
                            // console.log(isScroll, '进来')

                        })

                    },
                    onLeave() {
                        // 镜头圆圈
                        // document.querySelector('.abs.s-4-1').style.display = 'none'
                        // $('.momo-group4 .imgae').addClass('scale1')
                        isScroll = false
                        // console.log(isScroll, '离开')
                    },
                    onEnterBack() {
                        isScroll = true
                        // 镜头圆圈
                        // document.querySelector('.abs.s-4-1').style.display = 'block'
                    },
                    onLeaveBack() {
                        isScroll = false
                    }
                },
            });

            // var index3group1Top = $(".index3-section .image-group1").offset().top
            // var index3group2Top = $(".index3-section .image-group2").offset().top

            let index3Imgae1 = gsap.utils.toArray(".image-section3 .image-group1");
            gsap.to(index3Imgae1, {
                yPercent: -110 ,
                ease: "none",
                scrollTrigger: {
                    trigger: ".image-section3 .image-group1",
                    delay: 1,
                    start: "top top", // 当元素顶部部，滚动到达视口中间时, 开始动画
                    // end 默认是 trigger 离开视口
                    end:  "+4000" , // 当section-2底部，到达可视区域bottom 500px时，结束动画
                    // toggleClass: "active",
                    //  scrub: true, // 表示动画可以重复执行改成false表示只执行一次
                    markers: false, // 绘制开始位置和结束位置的线条
                    pin: true, // 动画执行期间，页面不进行滚动，动画执行结束后
                    scrub: 1,
                    snap: {
                        snapTo: 0.0001 ,
                        duration: { min: 0.2, max: 0.3 },
                        delay: 0
                    },
                
                },
            });

            let index3Imgae2 = gsap.utils.toArray(".image-section3 .image-group2");
            gsap.to(index3Imgae2, {
                yPercent: -90 ,
                ease: "none",
                scrollTrigger: {
                    trigger: ".image-section3 .image-group2",
                    delay: 1,
                    start: "top top", // 当元素顶部部，滚动到达视口中间时, 开始动画
                    // end 默认是 trigger 离开视口
                    end: '+4000 ', // 当section-2底部，到达可视区域bottom 500px时，结束动画
                    // toggleClass: "active",
                    //  scrub: true, // 表示动画可以重复执行改成false表示只执行一次
                    markers: false, // 绘制开始位置和结束位置的线条
                    pin: true, // 动画执行期间，页面不进行滚动，动画执行结束后
                    scrub: 1,
                    snap: {
                        snapTo:  0.001  ,
                        duration: 1,
                        delay: 0
                    },
                 
                },
            });

            // $(".index4-section .image-group").css('width',document.querySelector(".index4-section img").offsetWidth+'px ')
            let sections = gsap.utils.toArray(".index4-section .image-group");
            let index4Width=document.querySelector(".index4-section .image-group").offsetWidth
            gsap.to(sections, {
                xPercent: -(3150 / index4Width)*200,
                ease: "none",
                scrollTrigger: {
                    trigger: ".index4-section .image-group",
                    pin: true,
                    start: "top +=10px",
                    markers: false,
                    scrub: 1,
                    // duration: 5,
                    snap: {
                        snapTo:  0.0001,
                        duration: { min: 0.2, max: 0.3 },
                        delay: 0
                    },
                    end: () => "+=" +  index4Width
                }
            });

        })
    </script>
</body>

</html>